.contenedorIframes{
display: grid; 
grid-template-columns: repeat(4, 1fr); 
}
.containerYoutube{
  display: flex;
  padding: 1em;
}
.youtubeTitle{
  background: rgb(255,113,113);
  background: linear-gradient(90deg, rgba(255,113,113,1) 0%, rgba(255,255,255,1) 100%);
  color: white;
  border-radius: .25rem;
  padding: 0.3em;
  margin: 3px;
  font-weight: lighter;
  grid-column: span 2;

}
.mainContainerYoutube{
  padding-top: 1.5em;
  grid-column: span 2;

}
@media (max-width: 800px) {
  .contenedorIframes{
      display: flex;
      flex-direction: column;
  }
  .secundario{
    display: none;
  }
}