
*{
      -webkit-font-smoothing: antialiased;

}
html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    color: black;
    overflow-x:hidden;
}
.headerContainer{
    background: rgb(1, 124, 30);
    background: linear-gradient(90deg, rgb(1, 124, 30) 0%, rgba(78,215,109,1) 100%);
}
body{font-family: Arial, Helvetica, sans-serif}
.upperHeader{
    display: grid;
    grid-template-columns:50% 50% ;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-content: space-between;
}
.Left{
    grid-row: span 2;
    align-self: start;

}
img{
    max-width: 100%;
    height: auto;
    width: auto; 
    
}
.icon{
    max-width: 33px;
    min-width: 10px;
}

.upperRight{
    display: flex;
    align-items: center;
    margin-right:1em ;
    justify-content: flex-end;
}
.upperRight p{
    color: rgb(255, 255, 255);
    font-size: larger;
}
.upperRight a{
    margin: 0 0 0 0.5em;
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 450ms;
}
.upperRight a:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.lowerRight{
    display: flex;

    margin-right:1em;
    justify-content: flex-end;
}
.lowerRight a{
    margin: 1em 0.2em 2em 0.2em;

}
.lowerRight img{
    width: 13vw;
    height: 8vh ;
}
.lowerHeader{
    box-sizing: border-box;
    background: rgb(1, 124, 30);
    background: linear-gradient(90deg, rgb(1, 124, 30) 0%, rgba(78,215,109,1) 100%);
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lowerHeader a{
    text-decoration: none;
    color:white;

    line-height: 2.2em;
    padding: 10px;
    transition: 450ms;
    font-size: larger;
}
.lowerHeader a:hover{
    background-color:#bbfdb3 ;
    color: black;
}
.fondoHeader{
    display: flex;
    z-index: -1;
    width: 100%;
    position: absolute;
}

@media (max-width: 800px) {
    .upperHeader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lowerHeader{
        display: none;
    }
    .Left{
        grid-row: span 2;
        align-self: center;
    }
    .upperRight{
        margin: 0;
    }
    .lowerRight{
        display: grid;
        grid-template-columns: repeat(3, 33vw);
        row-gap: 0.1em;
        margin: 0;
    }
    .lowerRight img{
        width: 33vw;
        height: 10vh ;
    }
    .upperRight a{
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}