.dropdown 
{
    position: relative;
    display: inline-block;
    transition: 450ms;
    color:white;
}
.dropdown-content 
{
    display: none;
    position: absolute;
    opacity: 0.9;
    color:white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: white;
  padding: 0.5em;
  background-color: rgba(78,215,109,1);

}
.dropdown:hover .dropdown-content 
{
    display: flex;
    transition: 450ms;
    flex-direction: column;
}