$base-color:rgb(43,192,22);
$linear-color:linear-gradient(90deg, rgba(43,192,22,1) 0%, rgba(8,189,189,1) 100%);

.footerMunicipalidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid white;
}

.footer{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1em;
    column-gap: 1em;
    text-align: center;
    grid-template-rows: 3fr 1fr;
    color:white;
    font-weight: bolder;
    align-items: flex-end;
    background: $base-color;
    background: $linear-color;
}
.phone{
    text-decoration: none;
    color: white;
    font-size: x-large;
}
.phone:hover{
    text-decoration: underline;
}
.highlighted{
    color: #424874;
    text-decoration: none;
}
.highlighted:hover{
    text-decoration: underline;
}
.phoneContainer{
    display: grid;
    grid-template-columns: 20% 1fr;
}
.phoneNumbers{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.phoneImage{
    height: 18vh;
    width: 100%;
    min-height: 1em;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  @media (max-width: 800px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        }
    .footerMunicipalidad{

        margin: 0.5em 0;
        border-bottom: 0px solid white;
    }
    .secondary{
        border-top: 1px solid white;

    }

  }