.footerMunicipalidad{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
}
.footer{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2em;
    column-gap: 2em;
    grid-template-rows: 3fr 1fr;
    color:white;
    font-weight: bolder;

    align-items: flex-end;
    background: rgb(1, 124, 30);
    background: linear-gradient(90deg, rgb(0, 82, 19) 0%, rgb(0, 139, 33) 100%);
}
.phone{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}
.highlighted{
    color: rgb(1, 255, 1);
    font-weight: bolder;
    text-decoration: none;
}
.highlighted:hover{
    text-decoration: underline;
}
.phoneContainer{
    padding: 1em;
    display: grid;
    align-content: flex-end;
    grid-template-columns: 1fr 3fr;
}
.phoneNumbers{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.phone:hover{
    text-decoration: underline;

}
.phoneImage{
    height: auto;
    min-height: 1em;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  .phoneImageContainer{
      display: flex;
      align-items: flex-end;
  }
  @media (max-width: 800px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        }
    .footerMunicipalidad{

        margin: 0.5em 0;
        border-bottom: 0px solid white;
    }
    .secondary{
        border-top: 1px solid white;

    }

  }