.highlightedTitle{
  background: rgb(119, 190, 190);
  background: linear-gradient(90deg, rgb(54, 114, 114) 0%, rgba(186,255,250,1) 100%);
  color: white;
  border-radius: 5px;
  padding: 0.3em;
}
.highlightedContainer{
  display: flex;
  flex-direction: column;
}
.highlightedImage{
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  width: 100%;
  border-radius: 0.5rem;
  margin: 2px;
  transition: 450ms;
}
.highlightedImage:hover{
  -webkit-filter: contrast(90%) brightness(110%) saturate(150%) hue-rotate(-10deg);
  filter: contrast(90%) brightness(120%) saturate(150%) hue-rotate(-10deg);
  background-color: rgb(180, 180, 180);
}
@media (max-width: 800px) {
  .highlightedContainer{
  margin: 0.2em;
  }

}