.highlightedTitle{
  background: linear-gradient(90deg, #70bbbb 50%, cyan 50%);
  color: white;
  font-weight: lighter;
  border-radius: 5px;
  padding: 0.3em;
}
.highlightedContainer{
  display: flex;
  flex-direction: column;
}
.highlightedImage{
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  height: 60%;
  border-radius: .25rem;
  margin: 2px;
  transition: 450ms;
}
.highlightedImage:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.informacionesContainer{
  grid-column: span 2;
}
@media (max-width: 800px) {
  .highlightedContainer{
  margin: 0.2em;
  }

}