$base-color:rgb(43,192,22);
$hover-color:#08bdbd;
.dropdown 
{
    position: relative;
    display: inline-block;
    transition: 450ms;
    color:white;
}

.services{
  font-size: larger;
  padding: 10px;
  border: none;

}
.services:hover{
  background-color:#bbfdb3;
  color: black;
}
.dropdown-content 
{
    display: none;
    position: absolute;
    background: $base-color ;
    opacity: 0.9;
    color:white;
    border-radius: 0.235rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 15;
    top: 31px;
}

.dropdown-content a:hover {
  color: white;
  border-radius: 0.235rem;

  font-weight: bolder;
  background-color:$hover-color;

}
.dropdown:hover .dropdown-content{
    display: flex;
    transition: 450ms;
    width: 35em;
    flex-direction: column;
}