.dropdown 
{
    position: relative;
    display: inline-block;
    transition: 450ms;
}

#dropdown:hover{
    text-decoration: none;

}
.services{
  font-size: larger;
  padding: 1em;
}
.dropdown-content 
{
    display: none;
    position: absolute;
    background: #767C03 ;
    color:white;
 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 32px;
}
.dropdown-content a {



}
.dropdown-content a:hover {
  background-color: #9ba304;
  color: white;

}

.dropdown:hover .dropdown-content 
{
    display: flex;
    transition: ease-in;
    width: 20em;
    flex-direction: column;
}