.dropdown 
{
    position: relative;
    display: inline-block;
    transition: 450ms;
}

#dropdown:hover{
    text-decoration: none;

}
.services{
  font-size: larger;
  padding: 1em;
}
.dropdown-content 
{
    display: none;
    position: absolute;
    background: #0f4c75 ;
    opacity: 0.9;
    color:white;
 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    top: 32px;
}

.dropdown-content a:hover {
  color: white;
  font-weight: bolder;
  background-color: rgba(36,161,156,1);

}
.dropdown:hover .dropdown-content 
{
    display: flex;
    transition: 450ms;
    width: 35em;
    flex-direction: column;
}