.MisionVisionContainer{
  display: grid;
  padding: 0 0 4em 1em;
  grid-template-columns: 40% 60%;
}
.imgMisionVision{
  padding: 2em;
  grid-row: span 2;
  border-radius: 75px;
}
.MisionTitle{
  border-bottom: 1px solid gray;
}
.bottomParraph{
  grid-column: span 2;
  padding-right: 10em;
}